In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import os

In [77]:
BDP = pd.DataFrame(columns=['sequence', 'gender', 'name', 'hz', 'flightNumber', 'cityFrom', 'cityTo', 'gate',
                           'airportFrom', 'airportTo', 'date', 'time', 'share', 'seat', 'PNR','ticket'])

In [95]:
_dir = 'csvYourBoardingData/'
for file in os.listdir('YourBoardingPassDotAero/'):
#     BDP = pd.DataFrame(columns=['sequence', 'gender', 'name', 'hz', 'flightNumber', 'cityFrom', 'cityTo', 'gate',
#                            'airportFrom', 'airportTo', 'date', 'time', 'share', 'seat', 'PNR','ticket'])
    filecsv = file.replace('xlsx', 'csv')
    if (os.path.exists(_dir+filecsv)):
        continue
    data = []
    wb = load_workbook('YourBoardingPassDotAero/' + file)
    for sheet in wb:
        row = dict()
        row['sequence']=sheet['H1'].value
        row['gender']=sheet['A3'].value
        row['name']=sheet['B3'].value
        row['hz']=sheet['H3'].value
        row['flightNumber']=sheet['A5'].value
        row['cityFrom']=sheet['D5'].value
        row['cityTo']=sheet['H5'].value
        row['gate']=sheet['B7'].value
        row['airportFrom']=sheet['D7'].value
        row['airportTo']=sheet['H7'].value
        row['date']=sheet['A9'].value
        row['time']=sheet['C9'].value
        row['share']=sheet['E9'].value
        row['seat']=sheet['H11'].value
        row['PNR']=sheet['B13'].value
        row['ticket']=sheet['E13'].value
        data.append(row)
    BDP = pd.DataFrame(data)
    BDP.to_csv(_dir+filecsv)
    del BDP
    print("{} is done".format(file))

YourBoardingPassDotAero-2017-01-05.xlsx is done
YourBoardingPassDotAero-2017-01-06.xlsx is done
YourBoardingPassDotAero-2017-01-07.xlsx is done
YourBoardingPassDotAero-2017-01-08.xlsx is done
YourBoardingPassDotAero-2017-01-09.xlsx is done
YourBoardingPassDotAero-2017-01-10.xlsx is done
YourBoardingPassDotAero-2017-01-11.xlsx is done
YourBoardingPassDotAero-2017-01-12.xlsx is done
YourBoardingPassDotAero-2017-01-13.xlsx is done
YourBoardingPassDotAero-2017-01-14.xlsx is done
YourBoardingPassDotAero-2017-01-15.xlsx is done
YourBoardingPassDotAero-2017-01-16.xlsx is done
YourBoardingPassDotAero-2017-01-17.xlsx is done
YourBoardingPassDotAero-2017-01-18.xlsx is done
YourBoardingPassDotAero-2017-01-19.xlsx is done
YourBoardingPassDotAero-2017-01-20.xlsx is done
YourBoardingPassDotAero-2017-01-21.xlsx is done
YourBoardingPassDotAero-2017-01-22.xlsx is done
YourBoardingPassDotAero-2017-01-23.xlsx is done
YourBoardingPassDotAero-2017-01-24.xlsx is done
YourBoardingPassDotAero-2017-01-25.xlsx is done
YourBoardingPassDotAero-2017-01-26.xlsx is done
YourBoardingPassDotAero-2017-01-27.xlsx is done
YourBoardingPassDotAero-2017-01-28.xlsx is done
YourBoardingPassDotAero-2017-01-29.xlsx is done
YourBoardingPassDotAero-2017-01-30.xlsx is done
YourBoardingPassDotAero-2017-01-31.xlsx is done
YourBoardingPassDotAero-2017-02-01.xlsx is done
YourBoardingPassDotAero-2017-02-02.xlsx is done
YourBoardingPassDotAero-2017-02-03.xlsx is done
YourBoardingPassDotAero-2017-02-04.xlsx is done
YourBoardingPassDotAero-2017-02-05.xlsx is done
YourBoardingPassDotAero-2017-02-06.xlsx is done
YourBoardingPassDotAero-2017-02-07.xlsx is done
YourBoardingPassDotAero-2017-02-08.xlsx is done
YourBoardingPassDotAero-2017-02-09.xlsx is done
YourBoardingPassDotAero-2017-02-10.xlsx is done
YourBoardingPassDotAero-2017-02-11.xlsx is done
YourBoardingPassDotAero-2017-02-12.xlsx is done
YourBoardingPassDotAero-2017-02-13.xlsx is done
YourBoardingPassDotAero-2017-02-14.xlsx is done
YourBoardingPassDotAero-2017-02-15.xlsx is done
YourBoardingPassDotAero-2017-02-16.xlsx is done
YourBoardingPassDotAero-2017-02-17.xlsx is done
YourBoardingPassDotAero-2017-02-18.xlsx is done
YourBoardingPassDotAero-2017-02-19.xlsx is done
YourBoardingPassDotAero-2017-02-20.xlsx is done
YourBoardingPassDotAero-2017-02-21.xlsx is done
YourBoardingPassDotAero-2017-02-22.xlsx is done
YourBoardingPassDotAero-2017-02-23.xlsx is done
YourBoardingPassDotAero-2017-02-24.xlsx is done
YourBoardingPassDotAero-2017-02-25.xlsx is done
YourBoardingPassDotAero-2017-02-26.xlsx is done
YourBoardingPassDotAero-2017-02-27.xlsx is done
YourBoardingPassDotAero-2017-02-28.xlsx is done
YourBoardingPassDotAero-2017-03-01.xlsx is done
YourBoardingPassDotAero-2017-03-02.xlsx is done
YourBoardingPassDotAero-2017-03-03.xlsx is done
YourBoardingPassDotAero-2017-03-04.xlsx is done
YourBoardingPassDotAero-2017-03-05.xlsx is done
YourBoardingPassDotAero-2017-03-06.xlsx is done
YourBoardingPassDotAero-2017-03-07.xlsx is done
YourBoardingPassDotAero-2017-03-08.xlsx is done
YourBoardingPassDotAero-2017-03-09.xlsx is done
YourBoardingPassDotAero-2017-03-10.xlsx is done
YourBoardingPassDotAero-2017-03-11.xlsx is done
YourBoardingPassDotAero-2017-03-12.xlsx is done
YourBoardingPassDotAero-2017-03-13.xlsx is done
YourBoardingPassDotAero-2017-03-14.xlsx is done
YourBoardingPassDotAero-2017-03-15.xlsx is done
YourBoardingPassDotAero-2017-03-16.xlsx is done
YourBoardingPassDotAero-2017-03-17.xlsx is done
YourBoardingPassDotAero-2017-03-18.xlsx is done
YourBoardingPassDotAero-2017-03-19.xlsx is done
YourBoardingPassDotAero-2017-03-20.xlsx is done
YourBoardingPassDotAero-2017-03-21.xlsx is done
YourBoardingPassDotAero-2017-03-22.xlsx is done
YourBoardingPassDotAero-2017-03-23.xlsx is done
YourBoardingPassDotAero-2017-03-24.xlsx is done
YourBoardingPassDotAero-2017-03-25.xlsx is done
YourBoardingPassDotAero-2017-03-26.xlsx is done
YourBoardingPassDotAero-2017-03-27.xlsx is done
YourBoardingPassDotAero-2017-03-28.xlsx is done
YourBoardingPassDotAero-2017-03-29.xlsx is done
YourBoardingPassDotAero-2017-03-30.xlsx is done
YourBoardingPassDotAero-2017-03-31.xlsx is done
YourBoardingPassDotAero-2017-04-01.xlsx is done
YourBoardingPassDotAero-2017-04-02.xlsx is done
YourBoardingPassDotAero-2017-04-03.xlsx is done
YourBoardingPassDotAero-2017-04-04.xlsx is done
YourBoardingPassDotAero-2017-04-05.xlsx is done
YourBoardingPassDotAero-2017-04-06.xlsx is done
YourBoardingPassDotAero-2017-04-07.xlsx is done
YourBoardingPassDotAero-2017-04-08.xlsx is done
YourBoardingPassDotAero-2017-04-09.xlsx is done
YourBoardingPassDotAero-2017-04-10.xlsx is done
YourBoardingPassDotAero-2017-04-11.xlsx is done
YourBoardingPassDotAero-2017-04-12.xlsx is done
YourBoardingPassDotAero-2017-04-13.xlsx is done
YourBoardingPassDotAero-2017-04-14.xlsx is done
YourBoardingPassDotAero-2017-04-15.xlsx is done
YourBoardingPassDotAero-2017-04-16.xlsx is done
YourBoardingPassDotAero-2017-04-17.xlsx is done
YourBoardingPassDotAero-2017-04-18.xlsx is done
YourBoardingPassDotAero-2017-04-19.xlsx is done
YourBoardingPassDotAero-2017-04-20.xlsx is done
YourBoardingPassDotAero-2017-04-21.xlsx is done
YourBoardingPassDotAero-2017-04-22.xlsx is done
YourBoardingPassDotAero-2017-04-23.xlsx is done
YourBoardingPassDotAero-2017-04-24.xlsx is done
YourBoardingPassDotAero-2017-04-25.xlsx is done
YourBoardingPassDotAero-2017-04-26.xlsx is done
YourBoardingPassDotAero-2017-04-27.xlsx is done
YourBoardingPassDotAero-2017-04-28.xlsx is done
YourBoardingPassDotAero-2017-04-29.xlsx is done
YourBoardingPassDotAero-2017-04-30.xlsx is done
YourBoardingPassDotAero-2017-05-01.xlsx is done
YourBoardingPassDotAero-2017-05-02.xlsx is done
YourBoardingPassDotAero-2017-05-03.xlsx is done
YourBoardingPassDotAero-2017-05-04.xlsx is done
YourBoardingPassDotAero-2017-05-05.xlsx is done
YourBoardingPassDotAero-2017-05-06.xlsx is done
YourBoardingPassDotAero-2017-05-07.xlsx is done
YourBoardingPassDotAero-2017-05-08.xlsx is done
YourBoardingPassDotAero-2017-05-09.xlsx is done
YourBoardingPassDotAero-2017-05-10.xlsx is done
YourBoardingPassDotAero-2017-05-11.xlsx is done
YourBoardingPassDotAero-2017-05-12.xlsx is done
YourBoardingPassDotAero-2017-05-13.xlsx is done
YourBoardingPassDotAero-2017-05-14.xlsx is done
YourBoardingPassDotAero-2017-05-15.xlsx is done
YourBoardingPassDotAero-2017-05-16.xlsx is done
YourBoardingPassDotAero-2017-05-17.xlsx is done
YourBoardingPassDotAero-2017-05-18.xlsx is done
YourBoardingPassDotAero-2017-05-19.xlsx is done
YourBoardingPassDotAero-2017-05-20.xlsx is done
YourBoardingPassDotAero-2017-05-21.xlsx is done
YourBoardingPassDotAero-2017-05-22.xlsx is done
YourBoardingPassDotAero-2017-05-23.xlsx is done
YourBoardingPassDotAero-2017-05-24.xlsx is done
YourBoardingPassDotAero-2017-05-25.xlsx is done
YourBoardingPassDotAero-2017-05-26.xlsx is done
YourBoardingPassDotAero-2017-05-27.xlsx is done
YourBoardingPassDotAero-2017-05-28.xlsx is done
YourBoardingPassDotAero-2017-05-29.xlsx is done
YourBoardingPassDotAero-2017-05-30.xlsx is done
YourBoardingPassDotAero-2017-05-31.xlsx is done
YourBoardingPassDotAero-2017-06-01.xlsx is done
YourBoardingPassDotAero-2017-06-02.xlsx is done
YourBoardingPassDotAero-2017-06-03.xlsx is done
YourBoardingPassDotAero-2017-06-04.xlsx is done
YourBoardingPassDotAero-2017-06-05.xlsx is done
YourBoardingPassDotAero-2017-06-06.xlsx is done
YourBoardingPassDotAero-2017-06-07.xlsx is done
YourBoardingPassDotAero-2017-06-08.xlsx is done
YourBoardingPassDotAero-2017-06-09.xlsx is done
YourBoardingPassDotAero-2017-06-10.xlsx is done
YourBoardingPassDotAero-2017-06-11.xlsx is done
YourBoardingPassDotAero-2017-06-12.xlsx is done
YourBoardingPassDotAero-2017-06-13.xlsx is done
YourBoardingPassDotAero-2017-06-14.xlsx is done
YourBoardingPassDotAero-2017-06-15.xlsx is done
YourBoardingPassDotAero-2017-06-16.xlsx is done
YourBoardingPassDotAero-2017-06-17.xlsx is done
YourBoardingPassDotAero-2017-06-18.xlsx is done
YourBoardingPassDotAero-2017-06-19.xlsx is done
YourBoardingPassDotAero-2017-06-20.xlsx is done
YourBoardingPassDotAero-2017-06-21.xlsx is done
YourBoardingPassDotAero-2017-06-22.xlsx is done
YourBoardingPassDotAero-2017-06-23.xlsx is done
YourBoardingPassDotAero-2017-06-24.xlsx is done
YourBoardingPassDotAero-2017-06-25.xlsx is done
YourBoardingPassDotAero-2017-06-26.xlsx is done
YourBoardingPassDotAero-2017-06-27.xlsx is done
YourBoardingPassDotAero-2017-06-28.xlsx is done
YourBoardingPassDotAero-2017-06-29.xlsx is done
YourBoardingPassDotAero-2017-06-30.xlsx is done
YourBoardingPassDotAero-2017-07-01.xlsx is done
YourBoardingPassDotAero-2017-07-02.xlsx is done
YourBoardingPassDotAero-2017-07-03.xlsx is done
YourBoardingPassDotAero-2017-07-04.xlsx is done
YourBoardingPassDotAero-2017-07-05.xlsx is done
YourBoardingPassDotAero-2017-07-06.xlsx is done
YourBoardingPassDotAero-2017-07-07.xlsx is done
YourBoardingPassDotAero-2017-07-08.xlsx is done
YourBoardingPassDotAero-2017-07-09.xlsx is done
YourBoardingPassDotAero-2017-07-10.xlsx is done
YourBoardingPassDotAero-2017-07-11.xlsx is done
YourBoardingPassDotAero-2017-07-12.xlsx is done
YourBoardingPassDotAero-2017-07-13.xlsx is done
YourBoardingPassDotAero-2017-07-14.xlsx is done
YourBoardingPassDotAero-2017-07-15.xlsx is done
YourBoardingPassDotAero-2017-07-16.xlsx is done
YourBoardingPassDotAero-2017-07-17.xlsx is done
YourBoardingPassDotAero-2017-07-18.xlsx is done
YourBoardingPassDotAero-2017-07-19.xlsx is done
YourBoardingPassDotAero-2017-07-20.xlsx is done
YourBoardingPassDotAero-2017-07-21.xlsx is done
YourBoardingPassDotAero-2017-07-22.xlsx is done
YourBoardingPassDotAero-2017-07-23.xlsx is done
YourBoardingPassDotAero-2017-07-24.xlsx is done
YourBoardingPassDotAero-2017-07-25.xlsx is done
YourBoardingPassDotAero-2017-07-26.xlsx is done
YourBoardingPassDotAero-2017-07-27.xlsx is done
YourBoardingPassDotAero-2017-07-28.xlsx is done
YourBoardingPassDotAero-2017-07-29.xlsx is done
YourBoardingPassDotAero-2017-07-30.xlsx is done
YourBoardingPassDotAero-2017-07-31.xlsx is done
YourBoardingPassDotAero-2017-08-01.xlsx is done
YourBoardingPassDotAero-2017-08-02.xlsx is done
YourBoardingPassDotAero-2017-08-03.xlsx is done
YourBoardingPassDotAero-2017-08-04.xlsx is done
YourBoardingPassDotAero-2017-08-05.xlsx is done
YourBoardingPassDotAero-2017-08-06.xlsx is done
YourBoardingPassDotAero-2017-08-07.xlsx is done
YourBoardingPassDotAero-2017-08-08.xlsx is done
YourBoardingPassDotAero-2017-08-09.xlsx is done
YourBoardingPassDotAero-2017-08-10.xlsx is done
YourBoardingPassDotAero-2017-08-11.xlsx is done
YourBoardingPassDotAero-2017-08-12.xlsx is done
YourBoardingPassDotAero-2017-08-13.xlsx is done
YourBoardingPassDotAero-2017-08-14.xlsx is done
YourBoardingPassDotAero-2017-08-15.xlsx is done
YourBoardingPassDotAero-2017-08-16.xlsx is done
YourBoardingPassDotAero-2017-08-17.xlsx is done
YourBoardingPassDotAero-2017-08-18.xlsx is done
YourBoardingPassDotAero-2017-08-19.xlsx is done
YourBoardingPassDotAero-2017-08-20.xlsx is done
YourBoardingPassDotAero-2017-08-21.xlsx is done
YourBoardingPassDotAero-2017-08-22.xlsx is done
YourBoardingPassDotAero-2017-08-23.xlsx is done
YourBoardingPassDotAero-2017-08-24.xlsx is done
YourBoardingPassDotAero-2017-08-25.xlsx is done
YourBoardingPassDotAero-2017-08-26.xlsx is done
YourBoardingPassDotAero-2017-08-27.xlsx is done
YourBoardingPassDotAero-2017-08-28.xlsx is done
YourBoardingPassDotAero-2017-08-29.xlsx is done
YourBoardingPassDotAero-2017-08-30.xlsx is done
YourBoardingPassDotAero-2017-08-31.xlsx is done
YourBoardingPassDotAero-2017-09-01.xlsx is done
YourBoardingPassDotAero-2017-09-02.xlsx is done
YourBoardingPassDotAero-2017-09-03.xlsx is done
YourBoardingPassDotAero-2017-09-04.xlsx is done
YourBoardingPassDotAero-2017-09-05.xlsx is done
YourBoardingPassDotAero-2017-09-06.xlsx is done
YourBoardingPassDotAero-2017-09-07.xlsx is done
YourBoardingPassDotAero-2017-09-08.xlsx is done
YourBoardingPassDotAero-2017-09-09.xlsx is done
YourBoardingPassDotAero-2017-09-10.xlsx is done
YourBoardingPassDotAero-2017-09-11.xlsx is done
YourBoardingPassDotAero-2017-09-12.xlsx is done
YourBoardingPassDotAero-2017-09-13.xlsx is done
YourBoardingPassDotAero-2017-09-14.xlsx is done
YourBoardingPassDotAero-2017-09-15.xlsx is done
YourBoardingPassDotAero-2017-09-16.xlsx is done
YourBoardingPassDotAero-2017-09-17.xlsx is done
YourBoardingPassDotAero-2017-09-18.xlsx is done
YourBoardingPassDotAero-2017-09-19.xlsx is done
YourBoardingPassDotAero-2017-09-20.xlsx is done
YourBoardingPassDotAero-2017-09-21.xlsx is done
YourBoardingPassDotAero-2017-09-22.xlsx is done
YourBoardingPassDotAero-2017-09-23.xlsx is done
YourBoardingPassDotAero-2017-09-24.xlsx is done
YourBoardingPassDotAero-2017-09-25.xlsx is done
YourBoardingPassDotAero-2017-09-26.xlsx is done
YourBoardingPassDotAero-2017-09-27.xlsx is done
YourBoardingPassDotAero-2017-09-28.xlsx is done
YourBoardingPassDotAero-2017-09-29.xlsx is done
YourBoardingPassDotAero-2017-09-30.xlsx is done
YourBoardingPassDotAero-2017-10-01.xlsx is done
YourBoardingPassDotAero-2017-10-02.xlsx is done
YourBoardingPassDotAero-2017-10-03.xlsx is done
YourBoardingPassDotAero-2017-10-04.xlsx is done
YourBoardingPassDotAero-2017-10-05.xlsx is done
YourBoardingPassDotAero-2017-10-06.xlsx is done
YourBoardingPassDotAero-2017-10-07.xlsx is done
YourBoardingPassDotAero-2017-10-08.xlsx is done
YourBoardingPassDotAero-2017-10-09.xlsx is done
YourBoardingPassDotAero-2017-10-10.xlsx is done
YourBoardingPassDotAero-2017-10-11.xlsx is done
YourBoardingPassDotAero-2017-10-12.xlsx is done
YourBoardingPassDotAero-2017-10-13.xlsx is done
YourBoardingPassDotAero-2017-10-14.xlsx is done
YourBoardingPassDotAero-2017-10-15.xlsx is done
YourBoardingPassDotAero-2017-10-16.xlsx is done
YourBoardingPassDotAero-2017-10-17.xlsx is done
YourBoardingPassDotAero-2017-10-18.xlsx is done
YourBoardingPassDotAero-2017-10-19.xlsx is done
YourBoardingPassDotAero-2017-10-20.xlsx is done
YourBoardingPassDotAero-2017-10-21.xlsx is done
YourBoardingPassDotAero-2017-10-22.xlsx is done
YourBoardingPassDotAero-2017-10-23.xlsx is done
YourBoardingPassDotAero-2017-10-24.xlsx is done
YourBoardingPassDotAero-2017-10-25.xlsx is done
YourBoardingPassDotAero-2017-10-26.xlsx is done
YourBoardingPassDotAero-2017-10-27.xlsx is done
YourBoardingPassDotAero-2017-10-28.xlsx is done
YourBoardingPassDotAero-2017-10-29.xlsx is done
YourBoardingPassDotAero-2017-10-30.xlsx is done
YourBoardingPassDotAero-2017-10-31.xlsx is done
YourBoardingPassDotAero-2017-11-01.xlsx is done
YourBoardingPassDotAero-2017-11-02.xlsx is done
YourBoardingPassDotAero-2017-11-03.xlsx is done
YourBoardingPassDotAero-2017-11-04.xlsx is done
YourBoardingPassDotAero-2017-11-05.xlsx is done
YourBoardingPassDotAero-2017-11-06.xlsx is done
YourBoardingPassDotAero-2017-11-07.xlsx is done
YourBoardingPassDotAero-2017-11-08.xlsx is done
YourBoardingPassDotAero-2017-11-09.xlsx is done
YourBoardingPassDotAero-2017-11-10.xlsx is done
YourBoardingPassDotAero-2017-11-11.xlsx is done
YourBoardingPassDotAero-2017-11-12.xlsx is done
YourBoardingPassDotAero-2017-11-13.xlsx is done
YourBoardingPassDotAero-2017-11-14.xlsx is done
YourBoardingPassDotAero-2017-11-15.xlsx is done
YourBoardingPassDotAero-2017-11-16.xlsx is done
YourBoardingPassDotAero-2017-11-17.xlsx is done
YourBoardingPassDotAero-2017-11-18.xlsx is done
YourBoardingPassDotAero-2017-11-19.xlsx is done
YourBoardingPassDotAero-2017-11-20.xlsx is done
YourBoardingPassDotAero-2017-11-21.xlsx is done
YourBoardingPassDotAero-2017-11-22.xlsx is done
YourBoardingPassDotAero-2017-11-23.xlsx is done
YourBoardingPassDotAero-2017-11-24.xlsx is done
YourBoardingPassDotAero-2017-11-25.xlsx is done
YourBoardingPassDotAero-2017-11-26.xlsx is done
YourBoardingPassDotAero-2017-11-27.xlsx is done
YourBoardingPassDotAero-2017-11-28.xlsx is done
YourBoardingPassDotAero-2017-11-29.xlsx is done
YourBoardingPassDotAero-2017-11-30.xlsx is done
YourBoardingPassDotAero-2017-12-01.xlsx is done
YourBoardingPassDotAero-2017-12-02.xlsx is done
YourBoardingPassDotAero-2017-12-03.xlsx is done
YourBoardingPassDotAero-2017-12-04.xlsx is done
YourBoardingPassDotAero-2017-12-05.xlsx is done
YourBoardingPassDotAero-2017-12-06.xlsx is done
YourBoardingPassDotAero-2017-12-07.xlsx is done
YourBoardingPassDotAero-2017-12-08.xlsx is done
YourBoardingPassDotAero-2017-12-09.xlsx is done
YourBoardingPassDotAero-2017-12-10.xlsx is done
YourBoardingPassDotAero-2017-12-11.xlsx is done
YourBoardingPassDotAero-2017-12-12.xlsx is done
YourBoardingPassDotAero-2017-12-13.xlsx is done
YourBoardingPassDotAero-2017-12-14.xlsx is done
YourBoardingPassDotAero-2017-12-15.xlsx is done
YourBoardingPassDotAero-2017-12-16.xlsx is done
YourBoardingPassDotAero-2017-12-17.xlsx is done
YourBoardingPassDotAero-2017-12-18.xlsx is done
YourBoardingPassDotAero-2017-12-19.xlsx is done
YourBoardingPassDotAero-2017-12-20.xlsx is done
YourBoardingPassDotAero-2017-12-21.xlsx is done
YourBoardingPassDotAero-2017-12-22.xlsx is done
YourBoardingPassDotAero-2017-12-23.xlsx is done
YourBoardingPassDotAero-2017-12-24.xlsx is done
YourBoardingPassDotAero-2017-12-25.xlsx is done
YourBoardingPassDotAero-2017-12-26.xlsx is done
YourBoardingPassDotAero-2017-12-27.xlsx is done
YourBoardingPassDotAero-2017-12-28.xlsx is done
YourBoardingPassDotAero-2017-12-29.xlsx is done
YourBoardingPassDotAero-2017-12-30.xlsx is done
YourBoardingPassDotAero-2017-12-31.xlsx is done
YourBoardingPassDotAero-2018-01-01.xlsx is done

In [9]:
df = pd.read_csv("BoardingData.csv", sep=';')

In [120]:
format = '%Y-%m-%d %H:%M:%S'
df['Datetime'] = pd.to_datetime(df.FlightDate + ' ' + df.FlightTime, format=format)

In [123]:
df.set_index(pd.DatetimeIndex(df.Datetime), inplace=True)

In [124]:
df.head()

,PassengerFirstName,PassengerSecondName,PassengerLastName,PassengerSex,PassengerBirthDate,PassengerDocument,BookingCode,TicketNumber,Baggage,FlightDate,FlightTime,FlightNumber,CodeShare,Destination,Datetime
Datetime,,,,,,,,,,,,,,,
2017-03-22 06:05:00,SAVELII,VIKTOROVICH,RUSANOV,Male,03/10/1983,2879 096860,FRNINO,6625956945991971,Transit,2017-03-22,06:05,SU1369,Own,Moscow,2017-03-22 06:05:00
2017-03-18 22:10:00,LEV,MARKOVICH,ISAEV,Male,12/13/1975,1788 173211,Not presented,1643715499224676,Registered,2017-03-18,22:10,SU1180,Own,Volgograd,2017-03-18 22:10:00
2017-03-18 22:10:00,NIKOLAI,I.,NIKOLSKII,Male,12/26/1990,4396 926588,VWNYGF,6247422701565929,Transit,2017-03-18,22:10,SU1180,Own,Volgograd,2017-03-18 22:10:00
2017-03-18 22:10:00,ANATOLII,PETROVICH,SHILOV,Male,05/24/1997,2595 919752,WQFFUE,Not presented,Registered,2017-03-18,22:10,SU1180,Own,Volgograd,2017-03-18 22:10:00
2017-03-12 11:45:00,MIROSLAVA,VIACHESLAVOVNA,SEMENOVA,Female,01/31/1976,6775 516990,Not presented,Not presented,Registered,2017-03-12,11:45,SU6284,Own,Moscow,2017-03-12 11:45:00

In [99]:
df[df.PassengerLastName == 'KARASEV'][df.FlightDate == '2017-02-25']

<ipython-input-99-69bd643f20ac>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.PassengerLastName == 'KARASEV'][df.FlightDate == '2017-02-25']

,PassengerFirstName,PassengerSecondName,PassengerLastName,PassengerSex,PassengerBirthDate,PassengerDocument,BookingCode,TicketNumber,Baggage,FlightDate,FlightTime,FlightNumber,CodeShare,Destination
65225,VLADISLAV,S.,KARASEV,Male,11/05/1992,4414 792153,VKQLPX,9485059497011517,Transit,2017-02-25,00:50,SU6169,Own,Orenburg
123907,VLADISLAV,A.,KARASEV,Male,05/23/1988,1759 449257,Not presented,Not presented,Transit,2017-02-25,09:50,SU1139,Own,Moscow

In [105]:
grouppedByDateLastname = df.groupby(by=['FlightDate', 'PassengerFirstName', 'PassengerLastName', 'PassengerSecondName'], as_index=False).count()

In [144]:
week = df.groupby([
    pd.Grouper(freq='2D', base=30, label='right'),
    'PassengerFirstName',
    'PassengerLastName',
    'PassengerSecondName'], as_index=False).count()

In [145]:
week[week.Baggage > 1]

,PassengerFirstName,PassengerLastName,PassengerSecondName,PassengerSex,PassengerBirthDate,PassengerDocument,BookingCode,TicketNumber,Baggage,FlightDate,FlightTime,FlightNumber,CodeShare,Destination,Datetime
87,ADELINA,TROFIMOVA,GERMANOVNA,2,2,2,2,2,2,2,2,2,2,2,2
628,AMALIIA,ASTAKHOVA,R.,2,2,2,2,2,2,2,2,2,2,2,2
649,AMALIIA,MARKINA,M.,2,2,2,2,2,2,2,2,2,2,2,2
1041,ANTON,KOSAREV,A.,2,2,2,2,2,2,2,2,2,2,2,2
1303,ARSENII,GREKOV,V.,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153933,SVETLANA,KUZNETSOVA,GORDEEVNA,2,2,2,2,2,2,2,2,2,2,2,2
154146,IASMINA,ERMAKOVA,D.,2,2,2,2,2,2,2,2,2,2,2,2
154153,LEONID,SAZONOV,T.,2,2,2,2,2,2,2,2,2,2,2,2
154281,MARK,BORODIN,ANTONOVICH,2,2,2,2,2,2,2,2,2,2,2,2
154384,GLEB,NOSKOV,M.,2,2,2,2,2,2,2,2,2,2,2,2

In [115]:
tmp = grouppedByDateLastname[grouppedByDateLastname.Baggage > 1]

In [116]:
tmp.shape

(31, 14)

In [117]:
tmp

,FlightDate,PassengerFirstName,PassengerLastName,PassengerSecondName,PassengerSex,PassengerBirthDate,PassengerDocument,BookingCode,TicketNumber,Baggage,FlightTime,FlightNumber,CodeShare,Destination
1842,2017-01-01,GRIGORII,PANTELEEV,A.,2,2,2,2,2,2,2,2,2,2
1914,2017-01-01,IAROMIR,GOROKHOV,A.,2,2,2,2,2,2,2,2,2,2
2822,2017-01-01,MAKAR,KULIKOV,I.,2,2,2,2,2,2,2,2,2,2
6995,2017-01-02,LILIIA,BULATOVA,D.,2,2,2,2,2,2,2,2,2,2
15191,2017-01-05,MIRON,ROZHKOV,A.,2,2,2,2,2,2,2,2,2,2
15935,2017-01-05,SOFIIA,SOMOVA,A.,2,2,2,2,2,2,2,2,2,2
19813,2017-01-06,TAMERLAN,MEDVEDEV,NIKITICH,2,2,2,2,2,2,2,2,2,2
22658,2017-01-08,KIRA,KHROMOVA,R.,2,2,2,2,2,2,2,2,2,2
24528,2017-01-08,VASILINA,KORNEVA,S.,2,2,2,2,2,2,2,2,2,2
26712,2017-01-09,NATALIIA,MUKHINA,SAVELEVNA,2,2,2,2,2,2,2,2,2,2
34953,2017-01-13,RUSTAM,KOZLOV,S.,2,2,2,2,2,2,2,2,2,2
39666,2017-01-16,STEFANIIA,MOROZOVA,G.,2,2,2,2,2,2,2,2,2,2
41927,2017-01-18,ALEKSEI,BAZHENOV,A.,2,2,2,2,2,2,2,2,2,2
43098,2017-01-18,KSENIIA,VORONINA,ARSENEVNA,2,2,2,2,2,2,2,2,2,2
44375,2017-01-18,VITALINA,BASOVA,A.,2,2,2,2,2,2,2,2,2,2
46003,2017-01-19,MIROSLAVA,GREKOVA,A.,2,2,2,2,2,2,2,2,2,2
51153,2017-01-23,OLGA,ZAVIALOVA,I.,2,2,2,2,2,2,2,2,2,2
53382,2017-01-25,MIKHAIL,FILIMONOV,S.,2,2,2,2,2,2,2,2,2,2
59265,2017-01-30,NATALIA,KOVALEVA,AMIROVNA,2,2,2,2,2,2,2,2,2,2
65579,2017-02-04,ARTUR,AGEEV,A.,2,2,2,2,2,2,2,2,2,2
69107,2017-02-06,LILIIA,GOLIKOVA,A.,2,2,2,2,2,2,2,2,2,2
76768,2017-02-14,REGINA,GLADKOVA,M.,2,2,2,2,2,2,2,2,2,2
79107,2017-02-18,KONSTANTIN,BABUSHKIN,A.,2,2,2,2,2,2,2,2,2,2
82847,2017-02-22,GERMAN,SPIRIDONOV,ARTEMICH,2,2,2,2,2,2,2,2,2,2
83914,2017-02-23,IAROMIR,OVSIANNIKOV,V.,2,2,2,2,2,2,2,2,2,2
85263,2017-02-24,OLESIA,VOROBEVA,I.,2,2,2,2,2,2,2,2,2,2
89571,2017-03-01,SNEZHANA,TROSHINA,M.,2,2,2,2,2,2,2,2,2,2
90364,2017-03-02,NATASHA,NOVIKOVA,V.,2,2,2,2,2,2,2,2,2,2
95303,2017-03-08,ARTEM,TRETIAKOV,I.,2,2,2,2,2,2,2,2,2,2
95520,2017-03-08,IANA,BORODINA,A.,2,2,2,2,2,2,2,2,2,2
112732,2017-04-08,NADEZHDA,KASATKINA,R.,2,2,2,2,2,2,2,2,2,2

In [130]:
grouppedByDateLastname[grouppedByDateLastname.PassengerLastName == 'SHESTAKOV'][grouppedByDateLastname.PassengerFirstName == 'ARTEMII']

<ipython-input-130-5188392bb1be>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  grouppedByDateLastname[grouppedByDateLastname.PassengerLastName == 'SHESTAKOV'][grouppedByDateLastname.PassengerFirstName == 'ARTEMII']

,FlightDate,PassengerFirstName,PassengerLastName,PassengerSecondName,PassengerSex,PassengerBirthDate,PassengerDocument,BookingCode,TicketNumber,Baggage,FlightTime,FlightNumber,CodeShare,Destination
829,2017-01-01,ARTEMII,SHESTAKOV,S.,1,1,1,1,1,1,1,1,1,1
78705,2017-02-18,ARTEMII,SHESTAKOV,SAMIROVICH,1,1,1,1,1,1,1,1,1,1
91240,2017-03-04,ARTEMII,SHESTAKOV,SAMIROVICH,1,1,1,1,1,1,1,1,1,1
95311,2017-03-08,ARTEMII,SHESTAKOV,G.,1,1,1,1,1,1,1,1,1,1
95312,2017-03-08,ARTEMII,SHESTAKOV,S.,1,1,1,1,1,1,1,1,1,1
108713,2017-03-31,ARTEMII,SHESTAKOV,NIKOLAEVICH,1,1,1,1,1,1,1,1,1,1
115390,2017-04-15,ARTEMII,SHESTAKOV,I.,1,1,1,1,1,1,1,1,1,1

In [154]:
ddf = pd.read_csv('csvYourBoardingData/YourBoardingPassDotAero-{}.csv'.format('2017-03-18'))

In [155]:
ddf[ddf.time == '22:10']

,Unnamed: 0,sequence,gender,name,hz,flightNumber,cityFrom,cityTo,gate,airportFrom,airportTo,date,time,share,seat,PNR,ticket
0,0,21,MR,ZHAROV PLATON A,J,SU1180,MOSCOW,VOLGOGRAD,NaN,SVO,VOG,2017-03-18,22:10,Operated by Some Other Airline,NaN,NSJNGQ,5274206497242737
1,1,99,MR,LEV M ISAEV,Y,SU1180,MOSCOW,VOLGOGRAD,NaN,SVO,VOG,2017-03-18,22:10,Operated by Some Other Airline,NaN,XPAWUF,1643715499224676
2,2,89,MR,NIKOLAI NIKOLSKII,Y,SU1180,MOSCOW,VOLGOGRAD,NaN,SVO,VOG,2017-03-18,22:10,Operated by Some Other Airline,NaN,VWNYGF,6247422701565929
3,3,65,MR,ANATOLIY SHILOV,Y,SU1180,MOSCOW,VOLGOGRAD,NaN,SVO,VOG,2017-03-18,22:10,Operated by Some Other Airline,NaN,WQFFUE,2849333851011318
184,184,83,MR,TUMANOV VSEVOLOD,Y,AZ894,ROME,CAIRO,NaN,FCO,CAI,2017-03-18,22:10,Operated by Some Other Airline,NaN,IYXZXQ,9399503268586540
498,498,51,MRS,VIKTORIIA LOPATINA,Y,CZ371,GUANGZHOU,HANOI,NaN,CAN,HAN,2017-03-18,22:10,Operated by Some Other Airline,NaN,FZMNIE,9620005409709462

In [97]:
ddf[ddf.name == 'VLADISLAV KARASEV']

,Unnamed: 0,sequence,gender,name,hz,flightNumber,cityFrom,cityTo,gate,airportFrom,airportTo,date,time,share,seat,PNR,ticket
1762,1762,95,MR,VLADISLAV KARASEV,A,AZ2082,MILAN,ROME,NaN,LIN,FCO,2017-02-28,16:30,Operated by Some Other Airline,NaN,ONDOPP,1109448668753576
2463,2463,8,MR,VLADISLAV KARASEV,Y,SU1235,UFA,MOSCOW,NaN,UFA,SVO,2017-02-28,06:25,Operated by Some Other Airline,NaN,VUFELA,6898472107889699

In [82]:
ddf.head()

,Unnamed: 0,sequence,gender,name,hz,flightNumber,cityFrom,cityTo,gate,airportFrom,airportTo,date,time,share,seat,PNR,ticket
0,0,70,MRS,MARINA GAVRILOVA,J,CZ340,GUANGZHOU,HAIKOU,NaN,CAN,HAK,2017-02-28,15:05,Operated by Some Other Airline,NaN,GUNBAA,1989677840825765
1,1,7,MRS,KHUDYAKOVA YULIANA D,Y,MU710,MADRID,SHANGHAI,NaN,MAD,PVG,2017-02-28,21:55,Operated by Some Other Airline,NaN,RTNQOZ,4854958765727729
2,2,34,MRS,EVELINA ZELENINA,Y,MU710,MADRID,SHANGHAI,NaN,MAD,PVG,2017-02-28,21:55,Operated by Some Other Airline,NaN,XSACDJ,2710736470316484
3,3,83,MR,DENIS KOSHELEV,Y,SU4599,KHABAROVSK,NOGLIKI,NaN,KHV,NGK,2017-02-28,09:00,Operated by Some Other Airline,NaN,YDRYNH,2022542522119989
4,4,62,MR,EDUARD KOPYLOV,Y,SU4599,KHABAROVSK,NOGLIKI,NaN,KHV,NGK,2017-02-28,09:00,Operated by Some Other Airline,NaN,NZVXQK,1992947275934950

In [64]:
df[df.PassengerLastName == 'KARASEV'][['Destination']]

       Destination
119         Moscow
874         Moscow
4812           Ufa
6244        Moscow
6846        Moscow
...            ...
152252     Barnaul
153514      Rostov
153743      Moscow
154324   Volgograd
154642      Moscow

[146 rows x 1 columns]

In [36]:
df['PassengerLastName'].value_counts()

CHERNYKH       290
SAVELEV        237
KIRILLOVA      224
VISHNEVSKII    223
BELKIN         222
              ...
SOTNIKOVA      101
KOROLEVA       101
PIROGOV         99
PANOVA          91
MIRONOV         90
Name: PassengerLastName, Length: 1006, dtype: int64

In [33]:
ddf.head()

,Unnamed: 0,sequence,gender,name,hz,flightNumber,cityFrom,cityTo,gate,airportFrom,airportTo,date,time,share,seat,PNR,ticket
0,0,84,MR,MARK BULGAKOV,Y,VN321,OSAKA,HO CHI MINH CITY,NaN,KIX,SGN,2018-01-01,10:30,Operated by Some Other Airline,NaN,OMDWCK,4532895033787183
1,1,41,MRS,SHCHUKINA ELINA,Y,GA898,JAKARTA,GUANGZHOU,NaN,CGK,CAN,2018-01-01,08:30,Operated by Some Other Airline,NaN,HGCZYT,3797118642815371
2,2,63,MR,RYABININ DAVID,A,AF7558,PARIS,FIGARI,NaN,ORY,FSC,2018-01-01,10:20,Operated by Some Other Airline,NaN,OVAEGS,2233943866401123
3,3,28,MR,KOZYREV STEPAN,Y,MU2410,HOHHOT,SHANGHAI,NaN,HET,SHA,2018-01-01,17:05,Operated by Some Other Airline,NaN,OMWIFG,6088437433412789
4,4,69,MR,ROMAN CHERNYKH,Y,CZ6121,DALIAN,BEIJING,NaN,DLC,PEK,2018-01-01,13:20,Operated by Some Other Airline,NaN,LRTIXE,9260140097224704

In [22]:
ddf.seat.isna().mean()

1.0